:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: linear-gradient(to right, #295f2d, #409946);
}

.header-serview {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 15px;
}

.logo {
  width: 15%;
  height: 10%;
  margin: 10px;
  
}

.logo-name {
  width: 50%;
  height: 20%;
  margin: 10px;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: #eff1ed;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
  padding-top: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.fas {
  font-size: 28px;
  color: #bfbfbf;
  cursor: pointer;
}

.fas:hover {
  color: #409946;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icon-btn {
  width: 16%;
  height: auto;
  margin: auto;
  text-align: center;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-primary {
  background-color: #295f2d;
  border: none;
}

.categories-login {
padding: 10px;
}

.text-categories {
  text-align: center;
}

.next {
  display: flex;
  justify-content: flex-end;
}


.btn-next:hover {
 background-color: #295f2d;
 color: #eff1ed;
}

.or {
  text-align: center;
}

.login-social-network {
  display: flex;
  justify-content: space-evenly;
}

/*=========================
  Icons
 ================= */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
  padding: 0;
  cursor: pointer;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook {
	background-color: #3B5998;
}

.social-network a.icoGoogle{
	background-color: #BD3518;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size: 20px;
}

.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.post {
  border: none;
  border-radius: 5px;
  width: 70%;
  height: auto;
  margin: auto;
  overflow: auto;
  outline: none;
  resize: none;
}

.dropdown {
  border: none;
  color: #bfbfbf;
  background-color: #eff1ed;
}

.posts-feed {
  height: 300px;
  margin: auto;
}

.cashback {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  font-size: 25px;
}

.cashback i{
  font-size: 60px;
}

/* .square {
  
}
@media ? */